

<section class="job-listings">
  <h2 class="mt-2 mb-5">Latest Job Listings</h2>
  <ul>
    <% jobs.forEach(job => { %>
    <li>
      <h3><%= job.title %></h3>
      <p>Company: <%= job.company %></p>
      <p>Location: <%= job.location %></p>
      <p>Description: <%= job.description %></p>
      <a class="btn btn-info" href="/api/jobs/<%= job.id %>" >Details</a>
      <% if (locals.user && locals.user.usertype != 'recruiter') { %>
      <a
        href="#"
        onclick="applyJob(event,'<%= job.id %>','<%= locals.user.id %>')"
        >Apply Now</a
      >
      <% } else if(!locals.user) { %>
      <a href="#" onclick="applyJob(event,'','')">Apply Now</a>
      <% } %>
    </li>
    <% }) %>
  </ul>
</section>
