<h1 class="text-center">UPDATE JOB</h1>
<form action="/api/jobs/<%= job.id %>?_method=PUT" method="POST">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      value="<%= job.title %>"
      required
    />
  </div>
  <div class="mb-3">
    <label for="company" class="form-label">Company</label>
    <input
      type="text"
      class="form-control"
      id="company"
      name="company"
      value="<%= job.company %>"
      required
    />
  </div>
  <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input
      value="<%= job.location %>"
      type="text"
      class="form-control"
      id="location"
      name="location"
      required
    />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Job Description</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
      rows="5"
      required
    >
  <%- job.description %></textarea
    >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
