<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title"><%= job.title %></h2>
        <h5 class="card-subtitle mb-2 text-muted">
          Company: <%= job.company %>
        </h5>
        <p class="card-text">Location: <%= job.location %></p>
        <p class="card-text">Description: <%= job.description %></p>

        <% if (locals.user && locals.user.usertype != 'recruiter') { %>
        <a
          href="#"
          onclick="applyJob(event,'<%= job.id %>','<%= locals.user.id %>')"
          class="btn btn-primary"
          >Apply Now</a
        >
        <% } else if(locals.user?.usertype == 'recruiter') { %>
        <a
          href="/api/jobs/apply/<%= job.id %>"
          type="button"
          class="btn btn-primary"
          >job applicants</a
        >
        <a
          href="/api/jobs/updatefrom/<%= job.id %>"
          class="text-decoration-none text-black btn btn-warning"
          >Edit</a
        >
        <button onclick="deleteJobPost('<%= job.id %>')" class="btn btn-danger">
          Delete
        </button>
        <% } else { %>
        <a href="#" onclick="applyJob(event,'','')" class="btn btn-primary"
          >Apply Now</a
        >
        <% } %>

        <a href="/jobs" class="btn btn-secondary ms-2">Back to Job Listings</a>
      </div>
    </div>
  </div>
</div>
